#backgroundVideo {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.card-container,
.drink-container {
  margin: 2rem auto;
}

.card {
  margin-bottom: 1rem;
  cursor: pointer;
}

.card-img {
  width: 50%;
}

.card-text {
  padding-top: 20%;
  border-radius: 0 6px 6px 0;
}

.justify-center {
  justify-content: center;
}

img {
  width: 100%;
  border-radius: 6px 0 0 6px;
}

.nav {
  width: 30%;
}

.space-between {
  justify-content: space-between;
}

.search-input {
  height: 2rem;
  width: 6rem;
  position: relative;
  border-radius: 6px 0 0 6px;
  border: none;
  outline: none;
  font-size: 7px;
}

.search-button {
  height: 2rem;
  position: absolute;
  border-radius: 0 6px 6px 0;
  background-color: #c9a675;
  border: none;
  font-size: 7px;
}

.background-color {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
}

.height {
  width: 10rem;
}

.text-align {
  text-align: center;
}

.align-items {
  align-items: center;
}

.highlight {
  color: #c9a675;
}

.column-full,
.column-half {
  width: 100%;
}

.drink-container {
  margin: 2rem auto;
  width: 90%;
  margin-bottom: 2rem;
}

.new {
  height: 50rem;
}

.border-radius {
  border-radius: 10px;
}

.card-font,
li {
  font-size: 25px;
}

.card-padding,
.drinkPadding {
  padding: 10px 0;
}

li {
  list-style-type: none;
  text-align: center;
  width: 100%;
}

.line-height,
li {
  line-height: 35px;
}

.drinkMargin {
  margin: 1rem 0;
}

.card:active {
  transform: translateY(0.2rem);
}

@media only screen and (min-width: 1162px) {
  .new {
    height: 65rem;
  }

  .search-input {
    height: 2rem;
    width: 16rem;
    padding-left: 0.7rem;
    position: relative;
    border-radius: 6px 0 0 6px;
    border: none;
    outline: none;
    font-size: 18px;
  }

  .search-button {
    height: 2rem;
    position: absolute;
    border-radius: 0 6px 6px 0;
    background-color: #c9a675;
    border: none;
    outline: none;
    font-size: 18px;
  }

  .nav {
    width: 20%;
  }

  .card-container {
    margin: 2rem 0 0 4rem;
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .margin {
    margin: 8rem 2rem 0 4rem;
  }

  .height {
    height: 15rem;
    margin-right: 4rem;
    color: white;
    width: 10rem;
  }

  .card-img {
    width: 15rem;
  }

  .card-text {
    padding: 6rem 1rem;
    border-radius: 0 6px 6px 0;
    max-width: 37%;
  }

  .card {
    max-width: 80%;
  }

  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }

  .border-radius {
    border-radius: 6px;
  }

  .card-font,
  li {
    font-size: 25px;
  }

  .card-padding {
    padding: 10px 0;
  }

  .drink-container img {
    width: 90%;
  }
}
